.input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background: transparent;
  }
  
  .rounded {
    margin-top: 20px;
    border-radius: 10px;  
}


