.toHome {
  text-decoration: none;
  color: black;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container {
  padding-top: 5px;
  padding-bottom: 15px;
}
.loading {
  margin: 0;
}
h1 {
  align-items: center;
}

