.toHome{
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container{
    padding-top: 5px;
    padding-bottom: 15px;
}
.loading{
    margin: 0;
}
h1{
    align-items: center;
}

.img{
    padding: 5px;
    width: 50px;
    height: 50px;
}

li{
list-style-type: none;
}

.ul1{
    display: flex;
    align-items: center;
    border: 4mm ridge rgba(22,222,222,.8) ; 
    margin: 10px;
    margin-bottom: 0;
    padding: 5px;

}

.jopa{
    display: flex;
    padding-left: 15px;

}

.person{
    text-decoration: none;
    color: darkgreen;
}

