.personimg{
    width: 600px;
    height: 200px;
}

.personinfo{
    width: 150px;
    display: flex;
    align-items: center;
    border: 4mm ridge rgba(22,22,22,1) ; 
    margin: 10px;
    margin-bottom: 0;
    padding: 5px;
}

.otherinfo{
    width: 150px;
    display: flex;
    align-items: center;
    border: 4mm ridge rgba(22,22,22,1) ; 
    margin: 10px;
    margin-bottom: 0;
    padding: 5px;
}